{% extends "base.html" %}
{% block content %}
<h1>Règles</h1>
<ol>
<li>Il faut résoudre dans l'ordre successivement chacun des <strong>5 problèmes</strong>.</li>
<li>Les programmes doivent être réalisés en <strong>Java</strong>.</li>
<li>Quand vous envoyez une solution, votre programme est soumis à un jeu de <strong>données de test</strong> pour vérifier qu'il fonctionne correctement. Il devra donc lire ces <strong>données d'entrée</strong> et générer des <strong>données de sortie</strong>.</li>
<li>Pour lire les <strong>données d'entrée</strong>, utilisez un <em><strong>Scanner</strong></em> branché sur <em><strong>System.in</strong></em>.</li>
<li>Pour écrire les <strong>données de sortie</strong>, utilisez <em><strong>System.out.print()</strong></em> ou <em><strong>System.out.println()</strong></em>.</li>
<li>La classe qui contient votre <strong><em>main</em></strong> doit être placée en fin de programme, et ne doit pas être déclarée <strong><em>public</em></strong>.</li>
<li>Le statut de votre solution est alors visible sur le <strong>tableau de bord</strong>.</li>
</ol>
{% endblock %}