<p>Calculer a + b.</p>
<p><strong>Input</strong> : deux entiers a et b<br/>
<strong>Output</strong> : la somme a+b</p>
<p><strong>Exemple</strong> : </p>
<table>
<tr>
<th>Input</th>
<th>Output</th>
</tr>
<tr>
<td>2 3</td>
<td>5</td>
</tr>
</table>

<p>Déterminer si un nombre est un palindrome.</p>
<p><strong>Input</strong> : un nombre entier<br/>
<strong>Output</strong> : « Palindrome ! » si le nombre est un palindrome, et « Non palindrome » sinon</p>
<p><strong>Exemple</strong> : </p>
<table>
<tr>
<th>Input</th>
<th>Output</th>
</tr>
<tr>
<td>1331</td>
<td>Palindrome !</td>
</tr>
</table>
<table>
<tr>
<th>Input</th>
<th>Output</th>
</tr>
<tr>
<td>1337</td>
<td>Non palindrome</td>
</tr>
</table>



<p>T’as déjà joué au déMineur ? On considère une grille de taille NxM sur laquelle on place des Mines. Ta mission est de déterminer combien de mines sont adjacentes à chacune des cases de la grille.</p>
<p><strong>Input</strong> : La première ligne contient les dimensions N et M de la grille, et les lignes suivantes représentent la grille. Une mine est notée « * », et une case sans mine est notée « - »<br/>
<strong>Output</strong> : Les lignes représentant la grille, en replaçant les « - » par le nombre de mines adjacentes à cette case.</p>
<p><strong>Exemple</strong> : </p>
<table>
<tr>
<th>Input</th>
<th>Output</th>
</tr>
<tr>
<td>4 4<br/>
*---<br/>
----<br/>
-*--<br/>
----<br/>
</td>
<td>*100<br/>
2210<br/>
1*10<br/>
1110<br/>
</td>
</tr>
</table>






<p>Mamoun Tahri aime prendre le taxi. Pas seulement pour le plaisir d’un trajet rapide et confortable, mais pour la possibilité de marchander avec le chauffeur. Le marchandage se passe toujours de la même manière :</p>
<p>— A l’aéroport! Je vous paierai 5€.<br/>
— Non, je ne vous prends pas pour 5€. Disons 80€.<br/>
— Vous êtes fou ? Je n’ai pas autant sur moi! Bon, 15€ ?<br/>
— Vous rigolez ? Pas en dessous de 75€.<br/>
— Eh bien je vous en donnerais 25€.<br/>
— Monsieur, vous connaissez le prix de l’essence ? Payez 70€ et on y va !<br/>
...</p>
<p>Le dialogue continue jusqu’à ce qu’ils se mettent d’accord sur le prix. Mamoun augmente toujours son prix du même montant, et le chauffeur en fait autant. Bien sûr, le chauffeur ne demandera pas un prix inférieur à la dernière offre de Mamoun, il acceptera alors son offre. Mamoun se comporte de la même manière</p>

<p><strong>Input</strong> : Un ligne contenant quatre entiers: l’offre initiale de Mamoun, le montant avec lequel Mamoun monte son prix, l’offre initiale du chauffeur, et le montant des réductions du chauffeur.<br/>
<strong>Output</strong> : Le prix que paiera Mamoun au chauffeur de taxi.</p>
<p><strong>Exemple</strong> : </p>
<table>
<tr>
<th>Input</th>
<th>Output</th>
</tr>
<tr>
<td>5 10 80 5</td>
<td>55</td>
</tr>
</table>







<p>Comme tout le monde la sait, la proportion de filles aux Mines est de 50% exactement. Dans la promotion 2012, certains mineurs aiment certaines minettes. Mais les mineurs sont tous des gentlemen et donc un mineur ne peut aimer qu’une seule minette, et une minette ne peut être aimée que par un seul mineur. Réciproquement, les minettes sont également toutes de vraies dames et ont le même comportement.</p>
<p>Dans le bus du WEI, il faut s’assoir deux par deux. Aide les mineurs à former des paires garçon/filles pour que tous les garçons amoureux et toutes les filles amoureuses soient assis à côté de leur conquête.<br/>
On numérote les garçons de 1 à N et les filles de 1 à N.</p>

<p><strong>Input</strong></p>
<p>La première ligne contient N, le nombre de filles, qui est aussi le nombre de garçon (la promotion compte donc 2N élèves).<br/>
La deuxième ligne contient les numéros des filles qu’aiment les garçons : si le garçon k aime une fille, le numéro de celle-ci sera à la kème position. S’il n’aime personne, il y aura 0 à la kème position. Les nombres sont séparés par des espaces.<br/>
La troisième ligne contient les informations analogues pour les filles.</p>
<p><strong>Output</strong> : Une séquence de N entiers, ou le kème entier est le numéro de la fille assise à côté du kème garçon.</p>
<p><strong>Exemple</strong> : </p>
<table>
<tr>
<th>Input</th>
<th>Output</th>
</tr>
<tr>
<td>3<br/>
3 0 0<br/>
0 2 0<br/>
</td>
<td>3 2 1</td>
</tr>
</table>

